body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: gray;
   }
   
   #game-board {
       background-image: url(../../resources/素材图/土土土.png);
       width: 100vmin;
       height: 100vmin;
       display: grid;
       grid-template-rows: repeat(18,1fr);
       grid-template-columns: repeat(18,1fr);
   }
   
   .display-board{
       display: block;
       position: absolute;
       background-color: rgba(255, 255, 255, 0.15);
       width: 180px;
       height: 450px;
       top:0px;
       left: 16%;
   }
   
   .text{
       font-size: 1.5rem;
   }
   
   .obstacle {
    background-image: url(../../resources/素材图/草、.png);
       
   }
   
   .snakeGreen {
       background-image: url(../../resources/素材图/红色小车.jpg);
       
   }
   
   .snakeBlue {
       background-image: url(../../resources/素材图/蓝色小车.jpg);
       
   }
   
   .snakeYellow {
       background-image: url(../../resources/素材图/黄色小车.jpg);
       
   }
   
   .food {
       background-color: brown;
       
   }
   
   .aimgreen{
           background-image: url(../../resources/素材图/红色路线结束点.jpg);
           
   }
   
   .aimyellow{
       background-image: url(../../resources/素材图/黄色路线结束点.jpg);
      
   }
   
   .aimblue{
       background-image: url(../../resources/素材图/蓝色路线结束点.jpg);
       
   }
   
   .Up1{
       background-image: url(../../resources/素材图/加号3.png);
       
   }
   
   .Up2{
       background-image: url(../../resources/素材图/加加1.png);
       
   }
   
   .Down1{
       background-image: url(../../resources/素材图/down减少物资.jpg);
       
   }
   
   .Down2{
       background-image: url(../../resources/素材图/down减少油料.jpg);
       
   }

   .jump{
    font-size: 1.5rem;
    display: block;
    position:absolute;
    right:24%;
    top: 0px;
   }