* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    text-align:center;
    background-image:url("../../resources/background_images/指挥部地图.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

.wrapper{
    width:90%;
    display:inline-block;
}

.header{
    text-align:center;
}

.title{
    margin:10px,auto,0px;
    font-family:"Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    font-size:3em;
    font-weight:600;
    text-align:center;
    color:aliceblue;
}

.achievement-display-zone{
    width:100%;
    display: flex;
    justify-content: space-evenly;    
    margin-top:60px;
}

.achievementbox{
    flex-grow:1;
    height:200px;
    /* display:flex;
    justify-content:center; */
}

.card{
    height:200px;
    width:200px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-color:aliceblue;
    border-style:solid;
    border-width:2px;
    border-radius:20%;
}

.card:hover{
    transform: rotateY(180deg);
}

.card-front,.card-back{
    position:absolute;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    background-color:black;
    color:aliceblue;
    border-color:aliceblue;
    border-style:solid;
    border-width:2px;
    border-radius:20%;
    font-family:"Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    font-size:1.5em;
    font-weight:600;
    height:200px;
    width:200px;
    backface-visibility:hidden;
}
.card-back{
    transform: rotateY(180deg);  
}

.button{
    display:inline-block;
    background-color:dimgray;
    font-size:2em;
    margin-top:10px;
    text-decoration:none;
    color:aliceblue;
    opacity:70%;
    border-radius:20%;   
    padding:5px;
}

:hover.button{
    display:inline-block;
    background-color:black;
    font-size:2em;
    margin-top:10px;
    text-decoration:none;
    color:aliceblue;
    border-radius:20%;   
    padding:5px;
}