*{
	margin:0;
	padding:0;
	border:0;
	/* 调试用框边 */
	/* border-style:solid;
	border-width:1px;
	border-color:black; */
	font-family:STKaiti,KaiTi;
}

body{
	background-image:none;
	width:100%;
	height:100%;
	overflow:hidden;
	min-width:100vw;
	min-height:100vh;
}

.content-box{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	min-width:100vw;
	min-height:100vh;
	background-repeat:no-repeat;
	background-size:100vw 100vh;
	background-position:center;
	background-attachment: fixed;
}

.top{
	position:absolute;
	top:-2vh;
	left:0;
	width:100%;
	min-width:100vw;
	height:5vh;
}

.button-box{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	position:absolute;
	top:1vw;
	left:1vh;
	height:6vh;
	width:10vw;
}

.button{
	width:3vw;
	height:6vh;
	display:inline-block;
	color:white;
	background-color:black;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	border-width:1px;
	border-radius:20%;
	position: relative;
}

.setting{
	background-image:url(../../resources/icons/setting.png);
}

.look-back{
	background-image:url(../../resources/icons/look-back.png);
}

.pass{
	background-image:url(../../resources/icons/pass.png);
}


.button span{
	display:none;
}

.slide-box{
	display:flex;
	flex-direction:row;
	justify-content:left;
	position:absolute;
	top:1vh;
	right:1vw;
	height:6vh;
	width:20vw;
	
}

.slide-one{
	width:50%;
	height:100%;
	background-image:linear-gradient(to left,red,white);
}

.slide-two{
	width:50%;
	height:100%;
	background-image:linear-gradient(to right,blue,white);
}

.punch{
	height:6vh;
	width:20vw;
	position:absolute;
	top:0;
	left:7.5vw;
	background-image:url(../../resources/素材图/拳头素材.png);
	background-repeat:no-repeat;
	background-size:contain;
}

.ques-ans{
	display:flex;
	flex-direction:column;
	position:absolute;
	width:50%;
	height:70%;
	left:25%;
	top:15%;
	justify-content:space-evenly;
	border-style: solid;
	background-color:rgba(0,0,1,60%);
	background-size:50vw 70vh;
	background-position:center;
	background-repeat:no-repeat;
	font-weight:600;
	border-radius: 15px;
}

.question-box{
	font-size:2.5vw;
	text-align:center;
	width:80%;
	margin-left:10%;
	height:fit-content;
	color:white;
}

.answer-box{
	width:80%;
	margin-left:10%;
	font-size:1.5vw;
	height:fit-content;
	text-align:center;
	color:white;
	background-color:#27272a;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.answer-box:hover{
	color:#d14848;
}