*{
	margin:0;
	padding:0;
	border:0;
	font-family:"Georgia","Times New Roman","Helvetica","STKaiti","KaiTi","STFangsong","STSong";
}

body{
	width:100%;
	height:100%;
	overflow:scroll;
	min-width:1300px;
	min-height:750px;
}

.content-box{
	position:relative;
	width:100%;
	height:100%;
	overflow:visible;
	min-width:1300px;
	min-height:750px;
	background-repeat:no-repeat;
	background-size:cover;
}

.top{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-width:1300px;
	height:5em;
}

.button-box{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	position:absolute;
	top:15px;
	left:15px;
	height:2.5em;
	width:10em;
	/* border-style:solid;
	border-width:1px;
	border-color:black; */
}

.button{
	width:2em;
	height:2em;
	display:inline-block;
	color:white;
	background-color:black;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	border-width:1px;
	border-radius:20%;
}

.setting{
	background-image:url(../../resources/icons/setting.png);
}

.look-back{
	background-image:url(../../resources/icons/look-back.png);
}

.pass{
	background-image:url(../../resources/icons/pass.png);
}


.button span{
	display:none;
}

.slide-box{
	display:flex;
	flex-direction:row;
	justify-content:left;
	position:absolute;
	top:15px;
	right:15px;
	height:2.5em;
	width:20em;
	border-style:solid;
	border-width:1px;
	border-color:black;
}

.slide-one{
	width:50%;
	height:100%;
	background-image:linear-gradient(to left,red,white);
}

.slide-two{
	width:50%;
	height:100%;
	background-image:linear-gradient(to right,blue,white);
}

.punch{
	width:5em;
	height:2.5em;
	position:absolute;
	top:0;
	left:7.5em;
	background-image:url(../../resources/素材图/拳头素材.png);
	background-repeat:no-repeat;
	background-size:contain;
}

.bottom{
	position:absolute;
	left:max(20px,calc((100% - 1200px) / 2));
	bottom:0;
	/* border-style:solid;
	border-width:2px;
	border-color:black; */
	height:400px;
	width:1200px;
	/* display:flex;
	flex-direction:row; */
}

.dia-box{
	position:absolute;
	left:300px;
	bottom:0;
	width:900px;
	height:220px;
	border-style:solid;
	border-width:2px;
	border-color:black;
	font-size:x-large;
	text-indent:2em;
	font-weight:600;
	background-color:rgba(0,0,1,60%);
	color:white;
}

.dia{
	position:absolute;
	top:1rem;
}

.character{
	position:absolute;
	left:0;
	bottom:0;
	border-style:none;
	border-width:2px;
	border-color:black;
	/* background-image:url(../../resources/人物立绘/人物立绘/参谋1.png);
	background-repeat:no-repeat;
	background-size:contain; */
	height:400px;
	width:300px;
	background-repeat:no-repeat;
	background-size:cover;
}

.character img{
	width:100%;
	height:100%;
}

.name-box{
	position:absolute;
	left:300px;
	bottom:220px;
	border-style:solid;
	border-width:2px;
	border-color:black;
	height:1.5em;
	width:3.5em;
	font-size:xx-large;
	font-weight:600;
	text-align:center;
	background-color:rgba(0,0,1,60%);
	color:white;
}

.continue{
	position:absolute;
	right:0;
	bottom:0;
	height:fit-content;
	width:fit-content;
}