* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../resources/background_images/index.png");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
}

.LoginContainer {
    background-color: rgba(255, 255, 255, 0.15);
    width: 42vw;
    height: 60vh;
    border-radius: 2vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
}

.blank{
    height: 28vh;
    display: flex;
}

.form-box {
    position: absolute;
    top: -6vh;
    left:2vw;
    width: 21vw;
    height: 72vh;
    border-radius: 2vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
}

.Red{
    background-color: darkred;
}

.Blue{
    background-color: cornflowerblue;
}

.Register, .SignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 3.5vw;
    -webkit-border-radius: 3.5vw;
    -moz-border-radius: 3.5vw;
    -ms-border-radius: 3.5vw;
    -o-border-radius: 3.5vw;
}

.hidden {
    display: none;
    transition: 0.5s;
}

h1 {
    text-align: center;
    margin-bottom: 2vh;
    text-transform: uppercase;
    color: #fff;
    font-size: 7vh;
    letter-spacing: 5px;
}

input {
    background-color: transparent;
    width: 100%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1vw 0;
    text-indent: 1.5vh;
    margin: 2vh 0;
    font-size: 2.5vh;
    letter-spacing: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input::placeholder {
    color: #fff;
}

input:focus {
    color: #a262ad;
    outline: none;
    border-bottom: 1px solid #a262ad80;
    transition: 0.5s;
}

input:focus::placeholder {
    opacity: 0;
}

.form-box button {
    width: 70%;
    margin-top: 8vh;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #a262ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    font-size: 3vh;
}

.button1{
height: 5vh;
width: 5vw;
font-size: min(2vh,1vw);
}

.form-box button:hover {
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.con-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.con-box.left {
    left: -2%;
}

.con-box.right {
    right: -2%;
}

.con-box h2 {
    color: aqua;
    font-size: 3.5vh;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}

.con-box p {
    font-size: 2vh;
    letter-spacing: 2px;
    text-align: center;
}

.con-box span {
    color: crimson;
}

.con-box img {
    width: 150px;
    height: 150px;
    opacity: 0.9;
    margin: 40px 0;
}

.con-box button {
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.con-box button:hover {
    background-color: #d3b7d8;
    color: #fff;
}

.button{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 2vh;
}

.FormTitle{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.text-red{
    color: crimson;
}

.text-blue{
    color: aqua;
}
