.content-box{
            background-image:url("../../../resources/游戏背景图/中国朝鲜指挥部.png");
          }
          .dia-box{
            height:90vh;
            width:45vw;
            top:6vh;
            left:calc((100% - 600px) / 2);
            background-color:none;
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            font-size:x-large;
            opacity:100%;
          }
          
          .btn{
            position:absolute;
            bottom:3vw;
            width:20vw;
            height:4vh;
            left:calc((100% - 20vw) / 2);
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            color:white;
            text-align:center;
            vertical-align:middle;
            text-indent:0;
          }
    
          .btn:hover{
            color:black;
          }