*{
	margin:0;
	padding:0;
	border:0;
	/* 调试用框边 */
	/* border-style:solid;
	border-width:1px;
	border-color:black; */
	font-family:STKaiti,KaiTi;
}

body{
	background-image:none;
	width:100%;
	height:100%;
	overflow:hidden;
	min-width:100vw;
	min-height:100vh;
}

.content-box{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	min-width:100vw;
	min-height:100vh;
	background-repeat:no-repeat;
	background-size:100vw 100vh;
	background-position:center;
	background-attachment: fixed;
}

.top{
	position:absolute;
	top:-2vh;
	left:0;
	width:100%;
	min-width:100vw;
	height:5vh;
}

.button-box{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	position:absolute;
	top:1vw;
	left:1vh;
	height:6vh;
	width:10vw;
}

.button{
	width:3vw;
	height:6vh;
	display:inline-block;
	color:white;
	background-color:black;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	border-width:1px;
	border-radius:20%;
	position: relative;
}

.setting{
	background-image:url(../../resources/icons/setting.png);
}

.look-back{
	background-image:url(../../resources/icons/look-back.png);
}

.pass{
	background-image:url(../../resources/icons/pass.png);
}


.button span{
	display:none;
}

.slide-box{
	display:flex;
	flex-direction:row;
	justify-content:left;
	position:absolute;
	top:1vh;
	right:1vw;
	height:6vh;
	width:20vw;
	
}

.slide-one{
	width:50%;
	height:100%;
	background-image:linear-gradient(to left,red,white);
}

.slide-two{
	width:50%;
	height:100%;
	background-image:linear-gradient(to right,blue,white);
}

.punch{
	height:6vh;
	width:20vw;
	position:absolute;
	top:0;
	left:7.6vw;
	background-image:url(../../resources/素材图/拳头素材.png);
	background-repeat:no-repeat;
	background-size:contain;
}

.dia-box{
	position:absolute;
	left:19vw;
	bottom:0;
	width:60vw;
	height:30vh;
	border-style:solid;
	border-width:2px;
	border-color:black;
	font-size:1.5vw;
	text-indent:2em;
	font-weight:600;
	background-color:black;
	opacity:60%;
	color:white;
}

.continue{
	position:absolute;
	right:0;
	bottom:0;
	height:fit-content;
	width:fit-content;
	font-size:2vw;
}

.dia{
	text-indent:2em;
	position:absolute;
}