*{
	margin:0;
	padding:0;
	text-align:center;
}
body{
	background-image:url(../resources/background_images/background.jpg);
}
ul.guide{
	list-style-type:none;
	background-color:dimgrey;
	display:block;
}
li.guide{
	display:inline;
}
a.guide{
	display:block;
	color:white;
}
a:hover.guide{
	display:block;
	color:white;
	background-color:black;
}
ul.intro{
	list-style-type:none;
}
li.intro{
	display:inline;
	width:300px;
}
a.intro{
	background-color:dimgray;
	display:block;
}
a:hover.intro{
	background-color:black;
	display:block;
}